<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058911056096-mihkqul2tnhuhinaaf6olfsvt1qudpnp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058911056096-mihkqul2tnhuhinaaf6olfsvt1qudpnp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1058911056096-6nj1au71i9cruc4n2qo2vacd4hb80u78.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCqilb1uR0OVNrtwCshlHfI7bvXKVwU0y4</string>
	<key>GCM_SENDER_ID</key>
	<string>1058911056096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shailaRaniWebsite.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>shailarani-associates</string>
	<key>STORAGE_BUCKET</key>
	<string>shailarani-associates.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058911056096:ios:feb88a4a47d5c29f3d6085</string>
</dict>
</plist>